.hero__wrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__aside__title {
  color: #211f54;
  font-family: Roboto;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.984px; /* 108.8% */
}
.hero__aside__text {
  margin-top: 22px;
  color: #6e7191;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.006px; /* 142.886% */
}

.infrom {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.hero__btn {
  padding: 17px 24px;
  border-radius: 14px;
  background: #0075ff;
  color: #fff;
  border: 1px solid transparent;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  transition: 0.2s;
}
.hero__btn:hover {
  background: transparent;
  border-color: #0075ff;
  color: #0075ff;
}
.hero__call {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero__call__img {
  width: 72px;
  height: 72px;
}
.hero__call__number {
  color: #211f54;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36.008px; /* 128.6% */
}
@media (max-width: 800px) {
  .hero__wrapper{
    flex-direction: column;
  }
  .infrom {
    flex-direction: column;
  }
  .hero__img {
  width: 100%;
}
}

