.navbar {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  display: flex;
  align-items: center;
  gap: 22px;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__link {
  color: #211f54;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.006px; /* 166.7% */
}
.header__btn {
  padding: 17px 24px;
  border-radius: 14px;
  background: #0075ff;
  color: #fff;
  border: 1px solid transparent;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  transition: 0.2s;
}
.header__btn:hover {
  background: transparent;
  border-color: #0075ff;
  color: #0075ff;
}
@media (max-width: 850px) {
  .header__link {
    display: none;
  }
  .header__btn {
    padding: 10px 15px;
  }
}
